html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.header-section {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/yves-alarie-BXk-N2fPLYo-unsplash.jpg);
    background-size: cover;
    background-position: 0% 35%;
    background-repeat: no-repeat;
    height: 400px;
    display: grid;
    place-items: center;
}

.header-text-container {
    border: 6px solid white;
    width: fit-content;
    padding: 20px;
    color: white;
}

.header-title,
.header-subtext {
    text-align: center;
}

.header-title {
    font-size: 6rem;
}

.header-subtext {
    font-size: 2rem;
}

.tab-section {
    display: flex;
    justify-content: center;
}

.tab-container {
    display: grid;
    grid-template: 25px / repeat(3, min-content);
    justify-content: center;
    font-weight: bold;
    align-content: center;
    column-gap: 5rem;
}

.tab {
    font-size: 1.2rem;
    width: 100px;
    text-align: center;
    color: rgb(66, 66, 66);
}

.tab-slider {
    width: 100px;
    height: 3px;
    background-color: rgb(67, 87, 61);
    margin-left: 0;
    transition: margin-left 1s ease-in-out;
}

.tab-slider-home {
    margin-left: 0;
}

.tab-slider-menu {
    margin-left: 11.3rem;
}

.tab-slider-contact {
    margin-left: 22.5rem;
}

.tabs-and-slider-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
}

.tab:hover {
    cursor: pointer;
}

.tab:hover:not(.current-tab) {
    font-size: 1.3rem;
}

.header-text-container,
.tab-section,
.main-section {
    font-family: "Times New Roman", sans-serif, monospace;
}

.main-section {
    display: flex;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .header-section {
        height: 250px;
    }

    .header-title {
        font-size: 3rem;
    }

    .header-subtext {
        font-size: 1rem;
    }

    .tab-container {
        column-gap: 2rem;
    }

    .tab-slider-home {
        margin-left: 0;
    }
    
    .tab-slider-menu {
        margin-left: 8.3rem;
    }
    
    .tab-slider-contact {
        margin-left: 16.5rem;
    }
}

/*MOVE THESE STYLES TO SEPARATE FILES ONE FOR EACH JS PAGE*/


/*MENU*/

.menu-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image-container {
    position: relative;
}

.left-image-square,
.right-image-square {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 30px;
}

.left-image-square {
    left: 30px;
    background-position: 80% 0%;
}

.right-image-square {
    right: 30px;
    background-position: 60% 0%;
}

.border-square,
.left-image-square,
.right-image-square {
    border: 5px solid black;
    height: 300px;
    width: 300px;
}

.meal-header {
    font-size: 30px;
    font-family: "Times New Roman", sans-serif, monospace;
    color: white;
    text-align: center;
    padding: 40px 0;
    background-color: black;
}

.meal-header:not(:first-child){
    margin: 40px 0;
}

.meal-header::before {
    content: "-";
}

.meal-header::after {
    content: "-";
}

.image-txt-container {
    display: flex;
    gap: 15%;
    background-color: white;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-container.left-side{
    text-align: right;
}

.text-container {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-container,
.price {
    font-size: 1.3rem;
}

.subtext-header {
    font-size: 2rem;
    font-weight: bold;
}

.price {
    font-style: italic;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .image-txt-container {
        flex-direction: column;
        height: fit-content;
        justify-content: flex-start;
    }

    .text-container {
        margin-top: 40px;
    }
}

